html {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.is-button {
	cursor: pointer;
}

.is-button:hover, .app-toolbar button[mat-icon-button]:hover {
	background-color: #1281e0;
	color: white;
}

i.is-button {
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
}

.is-button[disabled] {
	cursor: not-allowed;
}

.app-toolbar button[mat-icon-button] {
	background-color: transparent;
	color: white;
}

.box-shadow {
	border-right: 1px solid rgba(0, 0, 0, .15);
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .175);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .175);
}
label{
	font-weight: bold;
}


