:host ::ng-deep .ui-g {
  line-height: 30px;
}

.item-panel {
  display: inline-flex;
  padding: 5px;
  background-color: #e6e6e6;
  margin-bottom: 10px;
}

:host ::ng-deep .ui-dataview-content.ui-widget-content {
  padding: 0;
}

.mobile-list-header {
  position: relative;
  line-height: 40px;
  padding: 0 5px;
  background-color: #3b6f9c;
  margin-bottom: 10px;
  color: white;
}

.mobile-list-header p-button {
  position: absolute;
  right: 5px;
  top: 1px;
}

.edit-btn {
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #cccaca;
  display: inline-flex;
  cursor: pointer;
}

.edit-btn > i {
  margin: auto;
}