<div class="ui-g ui-fluid">
	
	<div class="ui-g-12">
		<label for="name">Name</label>;
		<input pInputText id="name"  class="ui-inputtext" autocomplete="off" [(ngModel)]="config.data.item['name']"/>
	</div>
	<div class="ui-g-12">
		<label for="description">Description</label>;
		<textarea pInputTextarea id="description" class="ui-inputtextarea"  [(ngModel)]="config.data.item['description']"></textarea>
	</div>
	<div *ngIf="errorMessages.length" class="errors">
		<ul class="ui-corner-all">
			<li *ngFor="let message of errorMessages">{{message}}</li>
		</ul>
	</div>
</div>
<p-footer>
	<div class="ui-dialog-buttonpane">
		
		<button type='button' pButton [label]='config.data.uiConfig.labels.save' icon='fa fa-check' (click)='config.data.save(config.data.isNewItem, config.data.source, config.data.item)'></button>
		<button type='button' pButton [label]='config.data.uiConfig.labels.delete' icon='fa fa-close' [disabled]='config.data.isNewItem' (click)='config.data.delete(config.data.source)'></button>
	</div>
</p-footer>